*.class
*.war
*.ear
*.swp
*.dmp
*.dap
doc
build
.project
.classpath
.idea
stork.json
lib\stork-3.0a.jar
out\*
out/*
*.log

lib/stork-3\.0a\.jar

*.iml
classes/
stork.conf
*.json
stork/core/server/Logfiles/
stork\core\server\Logfiles\
*.log
lib/
lib\
